*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.css-1xrdjqg-MuiContainer-root {
    padding: 0 !important;

}


.button {
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 20px;
}


.titleInput{
    padding: 16px 0 0 16px;
    width: 100%;
    opacity:.4;
    margin-top:1rem;
    font-size: 26px;
}


.css-1vbkg4g-MuiGrid-root {
    flex-basis: 40%;
}
.css-3bsmrm-MuiGrid-root{
    flex-basis: 60%;
}
.css-1plufze-MuiContainer-root{
    width: 100% !important;
    padding: 0;
}




.formReg{
    padding: 1rem 6rem ;
    flex-basis: 55%;
    max-width: 55%;
}
.boxReg{
    width:100%
}